aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncio==3.4.3
attrs==24.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
certifi==2024.8.30
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
dhooks==1.1.4
discord.py==1.7.3
easygui==0.98.3
Flask==3.0.3
gevent==24.2.1
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
keyboard==0.13.5
MarkupSafe==2.1.5
multidict==6.1.0
openai==0.28.0
packaging==24.1
pillow==10.3.0
psutil==6.0.0
pyaesm==1.6.2
pycparser==2.22
pyfiglet==0.8.post1
pystyle==2.9
requests==2.31.0
setuptools==75.1.0
soupsieve==2.6
tls-client==1.0.1
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.2
websocket==0.2.1
Werkzeug==3.0.4
yarl==1.12.1
zope.event==5.0
zope.interface==7.0.3
socket
sockets